<div class="cotizacion">
	<h2>Implantes dentales</h2>
	<h4>desde</h4>
	<h1> <span>$ </span>3.400<span class="asterisco">*</span></h1>
	<h3>diarios</h3>
	<p class="terminos"><span class="naranja">*</span>Aplican <a href="#">Términos y Condiciones</a></p>
	<div class="card">
		<h2>Solicita tu <br> <span>cotización gratis!</span></h2>
		<p><span class="naranja">*</span>Campos obligatorios</p>

		<form>
          <label for="nombre">Nombre completo: <span class="naranja">*</span></label>
          <input type="text" name="nombre" placeholder="nombre">
          <label for="nombre">Correo electrónico: <span class="naranja">*</span></label>
          <input type="text" name="correo" placeholder="correo">
          <label for="celular">Celular: <span class="naranja">*</span></label>
          <input type="number" name="celular" placeholder="celular">

          <label class="check"><input type="checkbox" id="cbox1" value="first_checkbox">   <span class="checkmark"></span> <div class="texto-check">Acepto las <a href="#">Políticas de Datos Personales y Privacidad</a>. Sujeto a valoración odontológica </div> </label><br>

          <div class="button">
          	<input type="submit" class="btn--blue btn--add" value="Solicitar">
          	<img src="../../assets/btn_img.svg" alt="">
          </div>
        </form>

	</div>
</div>

