<div class="banner">
			<!-- contenedor -->
	<div id ="banner" class="card">
		
		<!-- titulo inicial -->
		<div class="titulo">
		<h3>Como podría *</h3>
		<h2>verse tu sonrisa:</h2>
		</div>

		<!-- Slider -->
		<div class="ba-slider comparador">
<!--Imagen Derecha -->
		  <img src="../../assets/dientes.png" alt="">    
		  <h2 class="title">despues</h2> 

<!-- Imagen Izquierda -->
		  <div class="resize">
		    <img src="../../assets/dientes.png" alt="">
		   	<div id="blur"></div>  
		   	<h2>antes</h2>
		  </div>
		  <span class="handle"></span>
		</div>

		<!-- Pie de foto -->
		<div class="titulo">
		<p><span>* Esta es una imagen de referencia.</span> Consultanos para saber como podrías verte.</p>
		</div>
	
	</div>

		<!-- dientes -->
      <div class="tooth row">
        <div class="col-md-4" *ngFor="let diente of dientes">
          <div class="imagen">
          	<img class="borde" src="../../assets/dientes-borde.svg" alt="">
            <img class="img-diente" [src]="diente.data.imagen" [alt]="diente.data.titulo">
          </div>
          <div class="texto ">
            <div class="text">
              <p>{{diente.data.texto}}</p>
            </div>
          </div>
        </div>
</div>
