

/* Toolbar Style */

  .toolbar{
    width: 100%;
    height: 76px;
    background: white;
    position: fixed;
    z-index: 1000;
  }

  .toolbar img{
    margin-top: -1.838165283203125px;
    margin-left: -75px;
    width: 290px;
    height: 58px;

  }

/* Footer style*/
  .tobotom{
    position: relative;
    
  }

  footer{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    bottom: 0;
  }

  footer img{
    width: 100%;
  }