  <div class="background">
    
  </div>

<div id="contenido" class="container">
          <app-cotizacion></app-cotizacion>
          <app-banner></app-banner>
      </div>

      <div class="container servicios">
        <div class="contenido col-md-8">
        <h1>Queremos que tengas la mejor versión de tu sonrisa, para toda la vida.</h1>
          <ul>
            <li>Recupera la apariencia física como si fuera un diente natural. ‘Altamente estéticos”</li> 
            <li> Comportamiento similar a la raíz del diente que te garantiza total discreción y mayor higiene.</li>
            <li>Máxima oseointegración en menos tiempo gracias a su diseño y material 100% biocompatible.</li>
            <li>Procedimientos realizados por especialistas con experiencia.</li>
            <li>Mayor seguridad para hablar y masticar.</li>
            <li>Reduce la perdida de hueso de los maxilares.</li>
            <li>Mayor comodidad y bienestar frente a otro tipo de prótesis.</li>
          </ul>

        </div>
      </div>
